* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.mainEditorContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.editor {
  width: 100%;
}

.editor-open {
  width: calc(80% - 10px);
}

.edit {
  width: 20%;
  border: solid 1px #c4c4f4;
  padding: 4px;
}






/* .full {
  width: 100%;
  float: left;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
} */

/* center a div horizontall and vertical */
/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .edit {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
  margin-top: -100px;
  margin-left: -100px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  z-index: 1;
} */

.edit h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.edit .close {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  border: solid black 1px;
  width: 20px;
  height: 20px;
  font-size: 14;
  text-align: center;
  line-height: 20px;
  background: red;
  color: white;
}

.formBody {
  margin: auto;
  width: 80%;
  box-shadow: 8px 8px 8px rgb(69, 64, 64);
}

.formBody>div {
  padding: 5px;
}

.formBody .imgBg {
  background: #efeae2;
  background-image: url('./bg.png');
  padding: 0;
}

.formBody>* {
  color: black;
}

.chatWindow {
  max-height: calc(100vh - 180px);
  min-height: calc(100vh - 180px);
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.chatMessage {
  display: flex;
  margin: 5px 0;
  gap: 8px;
}

.agentMessage {
  background: #d9fdd3;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
  width: 50%;
  justify-self: left;
  margin-right: auto;
  word-break: break-word;
}

.agentMessage p {
  background: #d9fdd3;
  padding: 8px;
  margin: 0;
}

.userMessage {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  text-align: right;
  margin-left: auto;
  word-break: break-word;
}

.timeMessage {
  color: gray;
  font-size: 12px;
}

.chatInpputContainer {
  background: #f0f2f5;
  height: 50px;
  display: grid;
  grid-template-columns: 15% 80% 5%;
  margin: 0
  ;
}

.chatInpputIcons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 25px;
  gap: 10px;
}

.chatInpput,
.chatInpput:focus,
.chatInpput:active {
  width: 100%;
  border: none;
  background: #ffffff;
}
.systemMessage {
  display: flex;
  justify-content: center;
}
.chatInpputSend {
  margin: auto
}

/* Breadcrumb container */
.breadcrumb-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 20px 0;
}

/* Breadcrumb item */
.breadcrumb-item {
  margin-right: 10px;
  color: #2d2d2d;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* Breadcrumb item hover */
.breadcrumb-item:hover {
  color: #0077c2;
}

/* Last breadcrumb item */
.breadcrumb-item:last-child {
  color: #0077c2;
  /* font-weight: bold; */
}

/* Separator */
.breadcrumb-separator {
  margin: 0 10px;
  color: #999;
}

/* Separator icon */
.breadcrumb-separator::before {
  content: '\2192';
  /* Right arrow symbol */
}

/* Breadcrumb item active */
.breadcrumb-item.active {
  color: #0077c2;
  /* font-weight: bold; */
}

.deletingPopUp {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 200px);
  z-index: 99999999999999999999;
  background: rgba(100, 139, 254, 0.405);
  width: 400px;
  height: 150px;
  padding: 8px;
  border-radius: 8px;
}

.deletingPopUp>div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: solid gray 1px;
}

.CancelDdelete {
  border: solid black 1px;
  width: 20px;
  text-align: center;
  background: red;
  color: white;
  padding: 3px;
  cursor: pointer;
}